#heading{
	text-align:center;
	margin:2rem;
	position:relative;
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}
.form-signin-heading{
	text-align:center;
}
body{
	background-image:url("http://localhost:9005/HelpMyInterview/img/loginback.jpg");
	margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
#heading1{
	text-align:center;
	margin:2rem;
	position:relative;
}