body{
	background-image:url("http://localhost:9005/HelpMyInterview/img/interback.jpg");
	margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}