.form-signin-heading{
	text-align:center;
	padding-top:12%;
	color:#001f3f;
}
body{
	background-image:url("http://localhost:9005/HelpMyInterview/img/loginback.jpg");
	margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.navbar navbar-expand-lg navbar-light{
	color:#f44336;
}